body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin-left: 5%;
    margin-right: 5%;
}
a{
    text-decoration: none;
    color: #2a2a2a;
}
a:hover{
    color: #555;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
@media (max-width : 800px){
    nav li{
        list-style: none;
        margin-right: 10%;
    }
    .login{
        text-align: right;
        margin-left: 8%;
        width: 50%;
    }
}
.img-logo{
    width: 150px;
    margin-right: 0;
}

#logo-nav{
    margin: 0;
    margin-right: 20px;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 0;
}
.login{
    text-align: right;
    margin-right: 50px;
    width: 70%;
}
#btnlogin{
    color: cornflowerblue;
}
#btnlogin:hover{
    color: #555;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.hero-text{
    width: 50%;
    padding-left: 50px;
    padding-top: 8%;
    font-size: 40px;
    line-height: 1.4;
}
.img-hero{
    width: 50%;
    padding-top: 60px;
    padding-right: 30px;
    margin-right: 0;
}
.imglp{
    width: 100%;
    height: auto;
}

@media (max-width :800px) {
    .hero {
        display:flex;
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .hero-text{
        width: 100%;
        padding-left: 10px;
        font-size: 20px;
    }
    .img-hero{
        width: 100%;
        padding-top: 30px;
        padding-right: 30px;
    }
    .imglp{
        width: 100%;
        height: auto;
    }
}
.spesialisasi{
    height: 300px;
    display: grid;
    grid-template-columns: 435px 435px 435px;
    padding: 35px;
    background-color: antiquewhite;
}
.kandungan{
    background-color: aqua;
}
.dokter-gigi{
    background-color: blueviolet;
}
.dokter-anak{
    background-color: burlywood;
}
.spesialisasi img{
    width: 200px;
    height: auto;
    padding: 5%;
}
.spesialisasi img:hover{
    width: 210px;
    height: auto;
}

footer{
    margin-top: 50px;
}
.footer-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
    border-style: solid;
    border-width: 0.5px;
    border-top-color: #c9c9c9;
    border-left-color:white;
    border-right-color:white ;
    border-bottom-color:white;
}
@media (max-width:800px){
    .footer-container{
        margin-top: 30px;
        padding-left: 10px;
        grid-template-columns: auto;
        grid-template-areas: 
        "logo-footer"
        "about"
        "contact"
        "social";
    }
    footer div ul{
        list-style: none;
        
        margin-bottom: 10px;
        text-align: center;
    }
    .logo-footer{
        text-align: center;
    }
    .about{
        padding: 0;
        text-align: center;
    }
    .contact{
        padding: 0;
        text-align: center;
    }
    .social{
        padding: 0;
        text-align: center;
    }
    .social ul{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 0;
        padding: 0;
        padding-left: 10%;
    }
}
footer div{
    text-align: left;
    margin-top: 20px;
    padding-left: 50px;
}
.logo-footer{
    margin-top: 25px;
    padding: 0;
}
p.footer{
    line-height: 1.5;
}
footer ul{
    list-style: none;
    margin-top: 10px;
    text-align: left;
    padding: 0;
    margin: 0;
}
footer li{
    padding-top: 10px;
}
.copyright{
    font-size: small;
    text-align: center;
    padding-top: 10px;
    padding: 0;
    border-style: solid;
    border-width: 0.5px;
    border-top-color: #c9c9c9;
    border-left-color:white;
    border-right-color:white ;
    border-bottom-color:white;
}