body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: Poppins;
    color: #333;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-left: 0;
}
.container-login{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.login-logo{
    width: 180px;
    height: auto;
}
.hero-login-text{
    text-align: center;
    line-height: 0.3;
    color: #555;
    text-shadow:#333;
}
#h3-text{
    margin-top: 0;
    padding-top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.login{
    margin-top: 25px;
    background-color: #cbefeb;
    padding: 30px;
    padding-top: 35px;
    padding-bottom: 45px;
    border-radius: 8px;
}
label {
    display: block;
    margin-bottom: 8px;
}
input {
    width: 290px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    width: 307px;
    margin-top: 20px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    font-size: medium;
}
button:hover{
    width: 307px;
    margin-top: 20px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(80, 136, 239);
    color: white;
    font-size: medium;
}
.container-img{
    width: 50%;
}
#img-login{
    width: 100%;
    height: auto;
}
@media screen and (width <=768px){
    .container{
        display: block;
        margin-top: 30px;
        margin-left: 0;
    }
    .container-login{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .login-logo{
        width: 170px;
        height: auto;
    }
    .login{
        margin-top: 20px;
        background-color: #cbefeb;
        padding: 30px;
        padding-top: 35px;
        padding-bottom: 40px;
        border-radius: 8px;
    }
    input {
        width: 240px;
        padding: 8px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    button{
        width: 257px;
        margin-top: 25px;
        padding: 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: cornflowerblue;
        color: white;
        font-size: medium;
    }
    button:hover{
        width: 257px;
        margin-top: 25px;
        padding: 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgb(80, 136, 239);
        color: white;
        font-size: medium;
    }

}
@media screen and (width <=1500px ){
    .container{
        display: block;
        margin-top: 30px;
        margin-left: 0;
    }
    .container-login{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .container-img{
        width: 0%;
    }
    #img-login{
        width: 0;
        height: 0;
    }
}