.container{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-left: 0;
}
.container-login{
    width: 50%;
    background-color: bisque;
}
.container-img{
    width: 50%;
    background-color: blueviolet;
}
#img-login{
    width: 100%;
    height: auto;
}