* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins
}

.splashscreen{
    width: 100%;
}

.splashscreen-img{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    filter: brightness(0.5);
}

.title{
    top: 65%;
    left: 5%;
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    color: snow;
    z-index: 2;
}

.next{
    top: 85%;
    right: 5%;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    color: snow;
    text-shadow: black;
    z-index: 2;
    background-color:rgb(46, 154, 157);
    padding: 8px 16px;
    border-radius: 10px;
}
.next:hover{
    background-color:cadetblue;
    border: 1px solid rgb(199, 227, 228);
}

a{
    text-decoration: none;
}

@media screen and (width <=768px){
    .title{
        font-size: 30px;
    }
}

@media screen and (width <=600px){
    .title{
        left: 0;
        max-width: 100%;
        text-align: center;
        font-size: 25px;
    }

    .next {
        right: 35%;
        font-size: 16px;
    }
}

@media screen and (width <=333px){
    .title{
        left: 0;
        max-width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .next {
        right: 30%;
        font-size: 14px;
    }
}